# data
CADOT_Dataset/
DataCadot_yolo/
*/images/
*/labels/
reports/

# results
experiments/

# python garbage
__pycache__/
*.pyc

# notebooks
.ipynb_checkpoints/.DS_Store

# fichiers du mac (pour karel)
.DS_Store
*/.DS_Store